* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* border: 2px solid red; */
}

body {
    background-color: #151515;
}

video {
    width: 100%;
}

#greet_txt {
    position: absolute;
    top: 50vh;
    left: 32vw;
    font-size: 50px;
    font-weight: bolder;
    z-index: 1;
    text-align: center;
    text-transform: uppercase;
    background-color: #151515b2;
    padding: 20px;
    border-radius: 15px;
}

#notyou{
    font-size: 20px;
    border-radius: 15px;
    padding: 5px;
    background-color: transparent;
    color: #8400ff;
    border: 2px solid #8400ff;
}

#notyou:hover {
    background-color: #8400ff;
    box-shadow: 0px 15px 20px #8400ff84;
    color: #fff;
    transform: translateY(-3px);
}


.neonText {
    animation: flicker 1.5s infinite alternate;
    color: #d2a8f9;
}

/* Flickering animation */
@keyframes flicker {

    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {

        text-shadow:
            0 0 4px #ce9aff,
            0 0 11px #ce9aff,
            0 0 19px #ce9aff,
            0 0 40px #8400ff,
            0 0 80px #8400ff,
            0 0 90px #8400ff,
            0 0 100px #8400ff,
            0 0 150px #8400ff;
    }

    20%,
    24%,
    55% {
        text-shadow: none;
    }
}


nav {
    position: fixed;
    width: 100%;
    background-color: #151515b2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}

.navitem {
    margin: 5px;
}

ul {
    display: flex;
    margin: 5px;
}

ul li {
    list-style: none;
    margin: 0px 10px;
}

li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid transparent;
}

ul li a:hover,
nav ul li a.home {
    color: #8400ff;
    border: 2px solid #8400ff;
}

#search {
    color: white;
    border: 2px solid #8400ff;
    border-radius: 10px;
    padding: 8px;
    max-width: 200px;
    background: #151515;
    box-shadow: inset 20px 20px 34px #0b0b0b,
        inset -20px -20px 34px #1f1f1f;
}

/* #search:hover {
    box-shadow: 2px 2px 15px #8707ff inset;
} */

.clock {
    color: #8400ff;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: inset 20px 20px 34px #0b0b0b,
        inset -20px -20px 34px #1f1f1f;
}

.homepg {
    background-color: #151515;
    color: white;
}

/* .main{
    background-color: #8400ff;
    height: 100vh;
} */


.heading {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    margin: 15px;
}

.carousel-inner a{
    color: white;
    text-decoration: none;
}

#carouselExampleCaptions{
    margin: 25px;
}

.gamecontainer {
    display: flex;
    flex-wrap: wrap;
}

.gamecard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #151515;
    border-radius: 41px;
    background: #151515;
    box-shadow: 20px 20px 25px #0e0e0e,
        -20px -20px 25px #1c1c1c;
    width: 30%;
    margin: 15px;
    padding: 30px;
}

.gamecard img{
    height: 300px;
    margin: 10px;
}

.gamecard h4{
    color: #b8a3cc;
    font-weight: bold;
    text-shadow: 3px 1px 6px #8400ff;
}


.cartbtn,
.watchbtn {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    background: #151515;
    box-shadow:  20px 20px 25px #0e0e0e,
                 -20px -20px 25px #1c1c1c;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.cartbtn {
    color: #009056;
    border: 2px solid #009056;
}

.watchbtn {
    color: #006aff;
    border: 2px solid #006aff;
}

.watchbtn a{
    text-decoration: none;
}

.cartbtn:hover {
    background-color: #009056;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-3px);
}

.watchbtn:hover {
    background-color: #006aff;
    box-shadow: 0px 15px 20px rgba(19, 96, 179, 0.4);
    color: #fff;
    transform: translateY(-3px);
}
.watchbtn:hover a{
    color: white;
}

.watchbtn:active,
.cartbtn:active {
    transform: translateY(-1px);
}

footer {
    margin-top: auto;
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
}